.App {
  background-color: #282c36;
  min-height: 100vh;
}

/* Header */
.App-header {
  background-color: #127001;
  position: relative;
  overflow: "wrap";
  padding-bottom: 140px;
}

.Ham-icon {
  height: 25px;
  width: 30px;
  margin-left: 10px;
  margin-top: 45px;
  padding: 10px;
  float: left;
  transition: filter 300ms;
  background-color: #127001;
}

.Ham-icon:hover {
  background-color: #0b4601;
  cursor: pointer;
}

.IFF-logo { 
  height: 100px;
  width: 100px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  float: left;
}

.IFF-logo:hover {
  cursor: pointer;
}

.Title {
  color: #ffffff;
  font-size: 40px;
  font-family: Impact, Charcoal, sans-serif;
  float: left;
  margin-top: 45px;
}

.HeaderOptions {
  color: #ffffff;
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif;
  float: right;
  margin-top: 55px;
  margin-right: 5px;
  margin-right: 20px;
  padding: 5px;
  background-color: #127001;
}

.HeaderOptions:hover {
  background-color: #0b4601;
  cursor: pointer;
}

.mic-emoji {
  height: 50px;
  width: 30px;
  float: right;
  margin-top: 45px;
  margin-left: 20px;
}

.mic-emoji:hover {
  cursor: pointer;
}

.burger-emoji {
  height: 40px;
  width: 40px;
  float: right;
  margin-top: 50px;
}

.burger-emoji:hover {
  cursor: pointer;
}

/* Body */
.TempText {
  color: #ffffff;
  font-size: 40px;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
}

.VideoContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Video { 
  background-color: #127001;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
  flex: 1 0 auto;
}

/* Footer */ 
.App-footer {
  background-color: #127001;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  height: 30px;
  width: 100%;
  /* bottom: 0; Bottom of page without flex */
  flex-shrink: 0;
}
.Footer-info{
  color: #ffffff;
  text-align: center;
}

/* Small Window Styling  */
@media (max-width: 800px) {

  .HeaderOptions {
    display: none;
  }

  .burger-emoji {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 650px) {
  .Title {
    display: none;
  }
}