.App {
  background-color: #282c36;
  min-height: 100vh;
}

.App-header {
  background-color: #127001;
  position: relative;
  overflow: "wrap";
  padding-bottom: 160px;
}

.Ham-icon {
  margin-left: 10px;
  margin-top: 60px;
  padding: 10px;
  float: left;
  transition: filter 300ms;
  background-color: #127001;
}

.Ham-icon:hover {
  filter: grayscale(50%);
}

.IFF-logo {
  height: 120px;
  width: 120px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  pointer-events: none;
  float: left;
}

.Title{
  color: #ffffff;
  font-size: 50px;
  font-family: Impact, Charcoal, sans-serif;
  float: left;
}

.App-footer {
  background-color: #127001;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  position: absolute;
  height: 30px;
  width: 100%;
}
.Footer-info{
  color: #ffffff;
  text-align: center;
}

/* Rotation stuff */
/* @media (prefers-reduced-motion: no-preference) {
  .IFF-logo {
    animation: App-logo-spin infinite 10s linear;
  }
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
